.footer {
 background-color: #101010;
 color: #fff;
 .footer-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
 }
 .copyright-wrapper {
  padding: 1rem 0;
  text-align: center;
  background-color: #000;
 }
 a {
  display: block;
  color: #fff;
 }
}
